---
import Default from "@astrojs/starlight/components/MarkdownContent.astro";
import { Icon } from "@astrojs/starlight/components";

const { difficulty, problemUrl } = Astro.locals.starlightRoute.entry.data;
---

<Default {...Astro.props}>
  <ul class="page-metadata">
    {
      difficulty && (
        <li class:list={["difficulty", difficulty]}>{difficulty}</li>
      )
    }
    {
      problemUrl && (
        <li>
          <a class="lt-link" href={problemUrl}>
            Problem URL <Icon name="external" class="icon" size="1.125rem" />
          </a>
        </li>
      )
    }
  </ul>
  <slot />
</Default>
<style>
  ul {
    --light-green: #bbf7d0;
    --dark-green: #15803d;
    --light-yellow: #fef08a;
    --dark-yellow: #854d0e;
    --light-red: #fecaca;
    --dark-red: #991b1b;
    display: flex;
    gap: 1rem;
    align-items: baseline;
    list-style: none;
    padding: 0;
  }

  ul li {
    display: block;
    border-radius: 0.25rem;
    text-transform: capitalize;
    padding-inline: 0.5rem;
    border: 1px solid transparent;
    text-decoration: none;
  }

  ul .tag {
    border-color: var(--sl-color-gray-5);
    color: var(--sl-color-gray-3);
  }

  ul .difficulty {
    font-weight: 500;
    background-color: var(--difficulty-bg-color);
    color: var(--difficulty-text-color);
  }

  ul .lt-link {
    display: flex;
    gap: 0.25rem;
    border-color: var(--sl-color-primary-500);
  }

  .easy {
    --difficulty-bg-color: var(--dark-green);
    --difficulty-text-color: var(--light-green);
  }

  .medium {
    --difficulty-bg-color: var(--dark-yellow);
    --difficulty-text-color: var(--light-yellow);
  }

  .hard {
    --difficulty-bg-color: var(--dark-red);
    --difficulty-text-color: var(--light-red);
  }

  :global([data-theme="light"]) .easy {
    --difficulty-text-color: var(--dark-green);
    --difficulty-bg-color: var(--light-green);
  }

  :global([data-theme="light"]) .medium {
    --difficulty-text-color: var(--dark-yellow);
    --difficulty-bg-color: var(--light-yellow);
  }

  :global([data-theme="light"]) .hard {
    --difficulty-text-color: var(--dark-red);
    --difficulty-bg-color: var(--light-red);
  }
</style>
